<ion-header>
  <ion-navbar>
    <ion-title>
      General Settings
    </ion-title>

    <ion-buttons end>
      <button ion-button solid (click)="dismiss()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Text length</ion-label>
      <ion-input type="number" [(ngModel)]="textLength"></ion-input>
    </ion-item>

    <ion-item (click)="clearAppData()">
      <ion-icon item-left name="trash"></ion-icon>
      <ion-label color="primary">Clear app data</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
