<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>

    <ion-buttons end>
      <button ion-button solid (click)="openReportBroken($event)">Report bug</button>
      <button ion-button solid (click)="dismiss()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    Implementierungsleitung<br/>
    Jochen Tiepmar
  </p>
  <p>
    Implementierung<br/>
    Marius Wagner<br/>
    Chris Becker
  </p>
  <p>
    Source Code: <a href="https://bitbucket.org/heldbrendel/cts_reader">https://bitbucket.org/heldbrendel/cts_reader</a>
  </p>
  <p>
    Entiwckelt im Rahmen des Praktikums<br/>
    Fortgeschrittene Methoden des Information Retrieval<br/>
    Abteilung für Automatische Sprachverarbeitung<br/>
    Fakultät für Mathematik und Informatik<br/>
    Universität Leipzig<br/>
  </p>
  <div>
    <img src="assets/image/logo_asv.png"/>
  </div>
  <div>
    <img src="assets/image/logo_universität_leipzig.png"/>
  </div>
  <p>
    Part of this work was funded by the German Federal Ministry of Education and Research<br/>
    within the project Competence Center for Scalable Data Services and Solutions (ScaDS)<br/>
    Dresden/Leipzig (BMBF 01IS14014B).
  </p>
  <div>
    <img src="assets/image/logo_bmbf.png"/>
  </div>
  <div>
    <img src="assets/image/logo_scads.png"/>
  </div>
</ion-content>
