<ion-header>
  <ion-navbar>
    <ion-title>
      Print Settings
    </ion-title>

    <ion-buttons end>
      <button ion-button solid (click)="dismiss()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>PDF Font size</ion-label>
    <ion-select [(ngModel)]="printFontSize" (ionChange)="callBackPrintPage()">
      <ion-option value="12">S</ion-option>
      <ion-option value="18">M</ion-option>
      <ion-option value="24">L</ion-option>
    </ion-select>
  </ion-item>

  <ion-buttons padding-horizontal>
    <button ion-button (click)="openPDF()">Open PDF</button>
    <button ion-button (click)="downloadPDF()">Download PDF</button>
    <button ion-button (click)="downloadText()">Download text-only</button>
  </ion-buttons>
</ion-content>
