page-reader {

}

.reader-text {
  text-align: justify;
  margin-left: 10vw;
  margin-right: 10vw;
  white-space: pre-line;
}

.reader-page {
  z-index: 0
}

#backArrowField {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  height: 110%;

  z-index: 100
}

#backArrowFieldBase {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  height: 110%;

  z-index: 50
}

#forwardArrowField {
  position: fixed;
  opacity: 1;
  top: 0;
  right: 0;
  height: 110%;

  z-index: 100
}

#forwardArrowFieldBase {
  position: fixed;
  opacity: 1;
  top: 0;
  right: 0;
  height: 110%;

  z-index: 50
}

@media screen and (max-width: 640px) {
  .reader-text {
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: justify;
    margin-left: 10vw;
    margin-right: 10vw;
    white-space: pre-line;
  }

  .backArrowField {
    width: 20%;
  }

  .forwardArrowField {
    width: 20%;
  }

}
