<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button solid (click)="openLibrary($event)">Library</button>
      <button *ngIf="isAuthorDefined()" ion-button solid (click)="openLibraryAuthor($event)">Author</button>
    </ion-buttons>

    <ion-title>
      <div *ngIf="selectedBook">{{selectedBook.title}}</div>
      <div *ngIf="!selectedBook">Reader</div>
    </ion-title>


  </ion-navbar>
</ion-header>

<ion-content padding class="reader-page" (swipe)="swipeEvent($event)" scroll="true">

  <div>
    <div id="backArrowFieldBase"></div>
    <div id="backArrowField" (click)="turnBack()"
         [ngStyle]="{ 'background': setProgressWidthLeft(), 'width': setMarginWidth()}" ></div>
  </div>

  <div id="textViewElement" class="reader-text"
       [@flyInOut]="flyInOutState"
       (@flyInOut.done)="animationDone($event)"
       [ngStyle]="{ 'font-size': setTextFontSize(), 'font-family': setTextFontFamily(),
       'line-height': setTextLineHeight(), 'width': setAntiMarginWidth(), 'margin': '0 auto'}">
    <p>{{displayText}}</p>
  </div>

  <div>
    <div id="forwardArrowFieldBase" ></div>
    <div id="forwardArrowField" (click)="turnForward()"
         [ngStyle]="{ 'background':setProgressWidthRight(), 'width': setMarginWidth()}" ></div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar id="bottomBar">
    <ion-buttons center>
      <button ion-button icon-only (click)="skipBackward($event)">
        <ion-icon name="skip-backward"></ion-icon>
      </button>

      <button ion-button icon-only (click)="openSearch($event)">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openDesign($event)">
        <ion-icon name="brush"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openGeneral($event)">
        <ion-icon name="options"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openPrint($event)">
        <ion-icon name="print"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openAbout($event)">
        <ion-icon name="help-circle"></ion-icon>
      </button>

      <button ion-button icon-only (click)="skipForward($event)">
        <ion-icon name="skip-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
