.day-theme {
  h1, h2, h3, h4, h5, h6,
  .toolbar-title {
    color: $day-dark;
  }
  .toolbar-background {
    background-color: $day-light;
  }
  ion-content {
    color: $day-textcolor;
    background-color: $day-background;
  }
  ion-list {
    .item {
      color: $day-textcolor;
      background-color: darken($day-background, 1.5%);
    }
  }
}
