.night-theme {
  h1, h2, h3, h4, h5, h6,
  .toolbar-title {
    color: $night-dark;
  }
  .toolbar-background {
    background-color: $night-light;
  }
  ion-content {
    color: $night-textcolor;
    background-color: $night-background;
  }
  ion-list {
    .item {
      color: $night-textcolor;
      background-color: darken($night-background, 1.5%);
    }
  }
}
