<ion-header>
  <ion-navbar>
    <ion-title>
      Design Settings
    </ion-title>

    <ion-buttons end>
      <button ion-button solid (click)="dismiss()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Theme</ion-label>
    <ion-select (ionChange)="setTheme($event)">
      <ion-option *ngFor='let theme of availableThemes'
                  [value]="theme.className"
                  [selected]="theme.className === selectedTheme">
        {{theme.prettyName}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Font size</ion-label>
    <ion-select [(ngModel)]="fontSize">
      <ion-option value="12px">S</ion-option>
      <ion-option value="18px">M</ion-option>
      <ion-option value="24px">L</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Line height</ion-label>
    <ion-select [(ngModel)]="lineHeight">
      <ion-option value="100%">S</ion-option>
      <ion-option value="150%">M</ion-option>
      <ion-option value="200%">L</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Margins</ion-label>
    <ion-select [(ngModel)]="marginWidth">
      <ion-option value="4%">S</ion-option>
      <ion-option value="8%">M</ion-option>
      <ion-option value="12%">L</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Font</ion-label>
    <ion-select [(ngModel)]="fontFamily">
      <ion-option value="Georgia, serif">Georgia, serif</ion-option>
      <ion-option value="Palatino, serif">Palatino, serif</ion-option>
      <ion-option value="Times, serif">Times, serif</ion-option>

      <ion-option value="Courier, monospace">Courier, monospace</ion-option>

      <ion-option value="Helvetica, sans-serif">Helvetica, sans-serif</ion-option>
      <ion-option value="Verdana, sans-serif">Verdana, sans-serif</ion-option>
    </ion-select>
  </ion-item>

  <ion-buttons>
    <button ion-button (click)="dismiss()">Save & close</button>
  </ion-buttons>
</ion-content>
