<ion-header>
  <ion-navbar>
    <ion-title>
      Library - Authors
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let author of authors" (click)="goToBooksPage(author)">
      {{author.name}}</ion-item>
  </ion-list>

</ion-content>
