<ion-header>
  <ion-navbar>
    <ion-title>
      Library - Works of {{selectedAuthor.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let book of books" >
      <ion-label (click)="loadText(book)">{{book.title}}</ion-label>
      <button ion-button outline item-right (click)="showLicence(book)">License</button>
    </ion-item>
  </ion-list>

</ion-content>
