<ion-header>
  <ion-navbar>
    <ion-title>
      Report broken corpus
    </ion-title>

    <ion-buttons end>
      <button ion-button solid (click)="dismiss()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>Book: </ion-label>
      <ion-input type="text" disabled placeholder="Current book's title"
                 value="{{title}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Author: </ion-label>
      <ion-input type="text" disabled placeholder="Current book's author"
                 value="{{author}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Used URL: </ion-label>
      <ion-input type="text" disabled placeholder="Current user URL"
                 value="{{usedUrl}}">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Additional remarks: </ion-label>
      <!-- clearInput appears to be non-functioning for textarea, works for input though-->
      <ion-textarea type="text" [(ngModel)]="remarks" clearInput placeholder="Part of the text, broken subpassages"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-buttons>
    <button ion-button (click)="mailTo()">Open mail app</button>
  </ion-buttons>
</ion-content>
