<ion-header>
  <ion-navbar>
    <ion-title>
      CTS base url
    </ion-title>

    <ion-buttons end>
      <button ion-button solid (click)="dismiss()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>CTS base url</ion-label>
      <ion-input type="text" placeholder="cts" [(ngModel)]="baseUrl" (keyup.enter)="dismiss()"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
