<ion-header>
  <ion-navbar>
    <ion-title>
      Search
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-searchbar
    [(ngModel)]="searchQuery"
    (keyup.enter)="onInput($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let book of books" (click)="loadText(book)">
      <ion-label (click)="loadText(book)">{{book.title}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
